
log file /var/log/sdplane.log
log stdout
# debug sdplane tap-handler
# debug shell
# debug sdplane telnet-opt
debug sdplane fdb-change
debug sdplane rib
debug sdplane l2-repeater

set l3fwd argv -c 0xf -- -p 0x3 --config="(0,0,1),(1,0,2)"
l3fwd init

set worker lthread stat-collector
set worker lthread rib-manager

set worker lcore 1 l2fwd
set worker lcore 2 l2fwd
set worker lcore 3 tap-handler
set l2fwd l2fwd_enabled_port_mask 0x3
set l2fwd l2fwd_rx_queue_per_lcore 1
stop port all
l2fwd init
stop port all

set thread 1 port 0 queue 0
set thread 1 port 1 queue 0

#set port all dev-configure 1 4
set port 0 dev-configure 1 4
set port 1 dev-configure 1 4
set worker lcore 1 l2-repeater
set worker lcore 2 l2-repeater
start worker lcore all
set port all promiscuous enable
start port all

sleep 3
update port link-status
