
.libs
.deps
*.o
*.lo
*.la
.DS_Store
.dirstamp

Makefile
Makefile.in

/m4
/missing
/stamp-h1
/INSTALL
/aclocal.m4
/autom4te.cache/
/compile
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.guess
/config.sub
/libtool
/ltmain.sh
/configure.ac~
/configure~
/configure
/depcomp
/install-sh

/lib/libzcmdsh.a
/app/opensh
/app/opensh.arm64
/app/opensh.x86_64
/app/opensh.universal
/app/opensh_ver.c
/app/vtyd

/Products/*
/opensh-*.pkg

/debian/.debhelper
/debian/zcmdsh
/debian/autoreconf.after
/debian/autoreconf.before
/debian/debhelper-build-stamp
/debian/files
/debian/zcmdsh.debhelper.log
/debian/zcmdsh.substvars
/debian/changelog

