Source: sdplane
Section: net
Priority: optional
Maintainer: Yasuhiro Ohara <yasu1976@gmail.com>
Build-Depends: debhelper-compat (= 12), zcmdsh (>= 0.3.36-31), liburcu-dev (>= 0.13.1-1)
Standards-Version: 4.5.0
Homepage: http://www.yasuhironet.net/

Package: sdplane
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: DPDK software data-plane,
  with interactive command shell.
