
[Unit]
Description=software data-plane
After=network.target

[Service]
Environment=TERM=vt100
ExecStartPre=modprobe uio_pci_generic
ExecStart=/usr/sbin/sdplane
Type=simple

[Install]
WantedBy=default.target

